@import "variable";
@import "mixins";

@preview:~'.preview';


@{preview}{
	width: 398px;
	height: 420px;
	background-color: #eaf2f4;
	background-image: url(../img/jacket.png);
	align-self:stretch;
	position:relative;
	
	&-social{
		position:absolute;
		left:5%;
		top:10%;
		color:@blue;
		font-size: 15px;
		
		.mix-flex-cent-column;
		display:none;
		div{
			margin-bottom:10px;
		}
	}
	
}
